

#solid{
	width:100%;
	height:800px;
	clear:both;
	margin-top:0px;
	position:relative;
}
#solid .solid0,#solid .solid1,#solid .solid2{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	display:none;
}
#solid .solid0{
	background:#FFFFFF;
	opacity: 0;
}
#solid .solid1{
	background:#FFFFFF;
	opacity: 0;
}
#solid .solid2{
	background:#FFFFFF;
	opacity: 0;
}
#solid ul{
	margin:0px;
	padding:0px;
	list-style:none;	
}
#solid ul li{
	position:absolute;
	top:0px;
	width:100%;
	height:100%;
	display:none;
	cursor:pointer;
}
#solid #btt{
	width:905px;
	height:55px;
	top:85%;
	left:50%;
	position:relative;
	margin-left:-452px;
}
#solid #btt span{
	position:absolute;
	top:15px;
	left:45%;
	display:block;
	width:30px;
	height:8px;
	margin:0 15px;	
	text-align:center;
	background:#3d3d3d;
	z-index:1000;
	cursor:pointer;
	filter:alpha(opacity=70); 
	-moz-opacity:0.7;
	opacity:0.7;
}