
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
body{
	font-family: 'Open Sans', sans-serif;
	background-color: #FAEBCC;
}


html,body,a{
	text-decoration:none;
		height: 100%;

}
/*--- Header Parts Starts Here ---*/
.header{
	background-color: #000000;
	padding:10px 0;
	opacity: 0.7;
}
.logo{
	float:left;
}
.navigation{
	float:right;
	color: #008000;
}
.navigation ul.nav li{
	display: inline-block;
}
.navigation ul.nav li a{
	color:#FFFFFF;
	font-size:18px;
	text-decoration:none;
	
}
.navigation ul.nav li a:hover{
	color:#51b105;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.navigation span.menu{
	display: none;
}
@media (max-width:768px){
	.navigation{
		width:100%;
	}
	.navigation span.menu{
		display: block;
		background:none;
		float:right;
		cursor: pointer;
		margin-top:-35px;
	}
	.navigation ul.nav {
		display: none;
		margin-top:20px;
		width:100%;
		background:#51B105105;
	}
	.navigation ul.nav li{
		display:block;
		text-align:center;
		border-bottom:1px solid #51b105;
	}
}
/*--- Header Parts Ends Here ---*/
/*--- Banner Parts Start Here ---*/
.banner{
	width: 100%;
	height: 500px;
	}
.slider{
	display: none;
}

span.ad{
	width:35px;
	height:35px;
	background:url(../images/ad-loc.png)no-repeat;
	display: block;
	float: left;
	margin-right: 1em;
}
span.loc{
	width:35px;
	height:35px;
	background:url(../images/ph.png)no-repeat;
	display: block;
	float: left;
	margin:0 1em 1em 0;
}
/*--- Banner Parts Ends Here ---*/
/*--- Content Parts Starts Here ---*/
.content{
	margin-top: 100px;
	padding:4em 0;
}
.content-row-column{
	text-align:center;
}
.content-row-column i{
	width:303px;
	height:134px;
	display:inline-block;
	box-shadow:0 8px 6px -6px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow:0 8px 6px -6px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:0 8px 6px -6px rgba(0, 0, 0, 0.4);
	-o-box-shadow:0 8px 6px -6px rgba(0, 0, 0, 0.4);
	-ms-box-shadow:0 8px 6px -6px rgba(0, 0, 0, 0.4);
}
.content-row-column i.icon1{
	background:url(../images/earth.jpg)no-repeat;
}
.content-row-column i.icon2{
	background:url(../images/icon2.png)no-repeat;
}
.content-row-column i.icon3{
	background:url(../images/icon3.png)no-repeat;
}
.content-row{
	margin-bottom:10%;
}
.content-row-column h3{
	font-weight:400;
	font-size:30px;
	color: #939292;
	padding: 0.5em 0;
}
.content-row-column p{
	margin:0 10%;
	font-size:16px;
	color:#939292;
}
span.line{
	width:34%;
	float:left;
	height:1px;
	background:rgba(147, 146, 146, 0.4);
	display: block;
	margin-top:21px;
}
a.line-anchor{
	text-decoration:none;
	color:#FFF;
	background:#52b106;
	text-transform: uppercase;
	float: left;
	width:28%;
	margin:0 15px;
	text-align:center;
	padding:10px 0;
	font-size:20px;
	font-weight:700;
	cursor: text 	;
}
.middle-row-column{
	text-align:center;
}
img.icon4{
	width:286px;
	height:215px;
	display:block;
	box-shadow: 0px 4px 9px -1px #999;
	-webkit-box-shadow: 0px 4px 9px -1px #999;
	-moz-box-shadow: 0px 4px 9px -1px #999;
	-o-box-shadow: 0px 4px 9px -1px #999;
	-ms-box-shadow: 0px 4px 9px -1px #999;
}
img.bua{
	width:250px;
	height:240px;
	display:block;
	box-shadow: 0px 4px 9px -1px #999;
	-webkit-box-shadow: 0px 4px 9px -1px #999;
	-moz-box-shadow: 0px 4px 9px -1px #999;
	-o-box-shadow: 0px 4px 9px -1px #999;
	-ms-box-shadow: 0px 4px 9px -1px #999;
}
i.icon5{
	width:48px;
	height:48px;
	background:url(../images/cli-cote.png)no-repeat;
	display:block;
}
.middle-row-column-right{
	text-align:left;
	padding:3em 2em 0;
}
.middle-row-column-right p{
	font-size:18px;
	font-weight:400;
	color:#939292;
	font-style: italic;
	margin-right:10%;
	padding:10px 0;
}
.content-middle-row{
	margin:2em 0;
}
.content-bottom-row{
	padding:2em 0 0 0;
}
.bottom-row-column p.ph{
	font-size:14px;
	color:#939292;
	width: 60%;
	float: left;
	margin-top: 5px;
}
.bottom-row-column a{
	font-size:14px;
	color:#939292;
	background:url(../images/mail.png)no-repeat left;
	padding:15px 50px;
	text-decoration:none;
}
.bottom-row-column a:hover{
	color:#52b106;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.bottom-row-column p.ad{
	font-size:14px;
	color:#939292;
	width: 60%;
	float: left;
}
.bottom-row-column iframe{
	width:330px;
	height:250px;
}
/*--- Content Parts Ends Here ---*/
/*--- Footer Starts Here ---*/
.footer{
	margin-top: 20px;
	padding:20px 0;
	background-color: #000000;
	opacity: 0.7;
 }
 .footer p{
 	margin-left: 45% ;
 	color: #FFFFFF;
 	
 }
/*--- FOoter Ends Here ---*/
/*--- About part Starts Here ----*/
.about-top{
	padding:1em 0;
}
.about-top-row{
	padding:2em 0;
}
.about-column h3{
	text-transform:uppercase;
	font-weight:600;
	padding:10px 0;
	color: #70543a;
}
.about-column p{
	font-size:14px;
	color:#312F2F;
	font-weight:400;
	line-height: 1.8em;
	margin-bottom: 1em;
}
img.icon6{
	width:120px;
	height:90px;
	display:block;
}
.scroll-content{
	padding:10px 0
}
/*--- About part Ends Here----*/
/*---- Portfolio Starts Here ---*/
.portfolio{
	padding:2em 0;
}
.portfolio-top-row{
	margin:4em 0
}
.portfolio-start{
	padding:0em 0;
}
.view {
   width: 300px;
   height: 200px;
   margin: 10px;
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
}
.view .mask,.view .content {
   width: 300px;
   height: 200px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
}
.view p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
}
.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   
}
.info: hover {
   background:#fff;
}
.view-fourth img {
   -webkit-transition: all 0.4s ease-in-out 0.2s;
   -moz-transition: all 0.4s ease-in-out 0.2s;
   -o-transition: all 0.4s ease-in-out 0.2s;
   -ms-transition: all 0.4s ease-in-out 0.2s;
   transition: all 0.4s ease-in-out 0.2s;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-fourth .mask {
   background-color: #45A608;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(0) rotate(-180deg);
   -moz-transform: scale(0) rotate(-180deg);
   -o-transform: scale(0) rotate(-180deg);
   -ms-transform: scale(0) rotate(-180deg);
   transform: scale(0) rotate(-180deg);
   -webkit-transition: all 0.4s ease-in;
   -moz-transition: all 0.4s ease-in;
   -o-transition: all 0.4s ease-in;
   -ms-transition: all 0.4s ease-in;
   transition: all 0.4s ease-in;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}
.view-fourth h2 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background: transparent;
   margin: 20px 40px 0px 40px;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
}
.view-fourth p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
}
.view-fourth a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
}
.view-fourth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: scale(1) rotate(0deg);
   -moz-transform: scale(1) rotate(0deg);
   -o-transform: scale(1) rotate(0deg);
   -ms-transform: scale(1) rotate(0deg);
   transform: scale(1) rotate(0deg);
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
.view-fourth:hover img {
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
.view-fourth:hover h2,
.view-fourth:hover p,
.view-fourth:hover a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition-delay: 0.5s;
   -moz-transition-delay: 0.5s;
   -o-transition-delay: 0.5s;
   -ms-transition-delay: 0.5s;
   transition-delay: 0.5s;
   text-decoration:none;
}
.col_1_of_projects:first-child {
	margin-left: 0;
}
.col_1_of_projects {
	display: block;
	float: left;
	margin:0 0 0 2.6%;
}
a:hover, a:focus {

text-decoration:none !important;
}
.view-fourth:hover h2, .view-fourth:hover p, .view-fourth:hover a.info{
	text-decoration:none;
}
.span_1_of_projects {
	width: 22.8%;
}
h3.m_4{
	color:#555;
	font-size:1em;
	text-transform:uppercase;
}
/*---- Contact part Starts Here --*/
.contact{
	padding:2em 0;
	min-height:600px;
}
.contact-text{
	padding:10px 0;
}
.contact-text input[type="text"]{
	width:32%;
	padding:10px;
	border:1px solid #999;
	outline:none;
	-webkit-appearence:none;
}
h3.contact-head{
	font-size:25px;
	font-weight:600;
	color:#70543a;
}
.contact-form{
	padding:4em 0;
}
.contact-textarea textarea{
	width:97%;
	height:250px;
	border:1px solid #999;
	resize:none;
	outline:none;
	-webkit-appearence:none;
	padding:10px;
}
.address{
	text-align: left;
}
.address p,.address small{
	font-size:16px;
	color:#939292;
	font-weight:400;
	margin:10px 0 20px;
}
.address a{
	color:#52b106;
	text-decoration: none;
	font-size:16px;
}
.address a:hover{
	color:#939292;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.box {
  width: 20%;
  min-width: 300px;
  display: block;
  height: 50px;
  position: relative;
  border-radius: 5px;
  background: linear-gradient(to right, #abbd73 35%, #d6e2ad 100%);
  margin-bottom: 40px;
  padding: 15px 25px 0 40px;
  color: darkslategray;
  box-shadow: 1px 2px 1px -1px #777;
  transition: background 200ms ease-in-out;
  text-align:right;
 
}

.box h1{
	color:#fff;
	text-decoration:none;
	}

.shadow {
  position: relative;
}
.shadow:before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 13px;
  right: 7px;
  width: 75%;
  top: 0;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
  transition: all 150ms ease-in-out;
}

.box:hover {
  background: linear-gradient(to right, #abbd73 0%, #abbd73 100%);
}

.shadow:hover::before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  bottom: 20px;
  z-index: -10;
}

.circle {
  position: absolute;
  top: 14px;
  left: 15px;
  border-radius: 50%;
  box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.5), inset 0 0 0 25px antiquewhite;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align:right;
  padding:0 20px 0 0;
}

.container1{
	width: 100%;
	height: 100%;
	
	
}
/* when the library loads, each [data-delighter] 
      gets the .delighter class */

   .foo.delighter {
      transition: all .3s ease-out;
      transform: translateX(-100%);
      opacity: 0;
   }

   /* the .started class is set when the top
      of [data-delighter] is at 0.75 of the viewport 
      (where 0 is top and 1 is bottom) */

   .foo.delighter.started {
      transform: none;
      opacity: 1;
   }

   /* an extra .ended state is set when the bottom 
      of [data-delighter] is at 0.75 of the viewport
      (where 0 is top and 1 is bottom) */

   .foo.delighter.started.ended {
      border: solid red 10px;
   }
.delighter.splash {
  transition: all 2s ease-out;
}
.delighter.splash.ended {
  background: #fff;
}
.delighter.right { transform:translate(-100%); opacity:0; transition: all .75s ease-out; }
.delighter.right.started { transform:none; opacity:1; }

.delighter.left { transform:translate(100%); opacity:0; transition: all .75s ease-out; }
.delighter.left.started { transform:none; opacity:1; }

.delighter.bottom { transform:translatey(300%); opacity:0; transition: all .75s ease-out; }
.delighter.bottom.started { transform:none; opacity:1; }

.delighter li { opacity: 0; transform: translatey(400%); transition: all .7s ease-out; }
.delighter.started li { opacity: 1; transform: none; }
.delighter.started li:nth-child(1) { transition: all .7s ease-out .1s; }
.delighter.started li:nth-child(2) { transition: all .7s ease-out .3s; }
.delighter.started li:nth-child(3) { transition: all .7s ease-out .5s; }
.delighter.started li:nth-child(4) { transition: all .7s ease-out .7s; }
.delighter.started li:nth-child(5) { transition: all .7s ease-out .9s; }
.delighter.started li:nth-child(6) { transition: all .7s ease-out 1.1s; }
.delighter.started li:nth-child(7) { transition: all .7s ease-out 1.3s; }

.delighter pre {
  display: block; transition: all 2s ease-out; opacity: 0;
  padding: 20px 0;
  width: 1px; overflow: hidden;
}
.delighter.started pre {
  max-width: 99999px; width: 100%; opacity: 1;
}
.delighter .box { transition: all 1s ease-out; }
.delighter .box:nth-child(1) { transform: translate(-100%, 0); }
.delighter .box:nth-child(2) { transform: translate(170%, -70%); }
.delighter .box:nth-child(3) { transform: translate(20%, 0%); }

.delighter.started .box:nth-child(1) { transform: translate(0, 0); }
.delighter.started .box:nth-child(2) { transform: translate(70%, -70%); }
.delighter.started .box:nth-child(3) { transform: translate(20%, -120%); }


.map{
	margin-top: 5%;
	width:50%;
	height:80%; 
	float: left;
}

.calculator{
	margin-top: 5%;
	width:50%;
	height:80%; 
	float: left;
}
.funcbox
{
	width:100%;
	height:100%;
	overflow: hidden
	}
/*---- Media Queries Ends Here ----*/