
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
body{
	font-family: 'Open Sans', sans-serif;
	background-color: #FFFFFF;
}


html,body,a{
	width: 100%;
	text-decoration:none;
		height: 100%;

}


.box {
  width: 20%;
  min-width: 300px;
  display: block;
  height: 50px;
  position: relative;
  border-radius: 5px;
  background: linear-gradient(to right, #abbd73 35%, #d6e2ad 100%);
  margin-bottom: 40px;
  padding: 15px 25px 0 40px;
  color: darkslategray;
  box-shadow: 1px 2px 1px -1px #777;
  transition: background 200ms ease-in-out;
  text-align:right;
 
}

.box h1{
	color:#fff;
	text-decoration:none;
	}

.shadow {
  position: relative;
}
.shadow:before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 13px;
  right: 7px;
  width: 75%;
  top: 0;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
  transition: all 150ms ease-in-out;
}

.box:hover {
  background: linear-gradient(to right, #abbd73 0%, #abbd73 100%);
}

.shadow:hover::before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  bottom: 20px;
  z-index: -10;
}

.circle {
  position: absolute;
  top: 14px;
  left: 15px;
  border-radius: 50%;
  box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.5), inset 0 0 0 25px antiquewhite;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align:right;
  padding:0 20px 0 0;
}

.container1{
	width: 100%;
	height: 100%;
	
	
}
/* when the library loads, each [data-delighter] 
      gets the .delighter class */

   .foo.delighter {
      transition: all .3s ease-out;
      transform: translateX(-100%);
      opacity: 0;
   }

   /* the .started class is set when the top
      of [data-delighter] is at 0.75 of the viewport 
      (where 0 is top and 1 is bottom) */

   .foo.delighter.started {
      transform: none;
      opacity: 1;
   }

   /* an extra .ended state is set when the bottom 
      of [data-delighter] is at 0.75 of the viewport
      (where 0 is top and 1 is bottom) */

   .foo.delighter.started.ended {
      border: solid red 10px;
   }
.delighter.splash {
  transition: all 2s ease-out;
}
.delighter.splash.ended {
  background: #fff;
}
.delighter.right { transform:translate(-100%); opacity:0; transition: all .75s ease-out; }
.delighter.right.started { transform:none; opacity:1; }

.delighter.left { transform:translate(100%); opacity:0; transition: all .75s ease-out; }
.delighter.left.started { transform:none; opacity:1; }

.delighter.bottom { transform:translatey(300%); opacity:0; transition: all .75s ease-out; }
.delighter.bottom.started { transform:none; opacity:1; }

.delighter li { opacity: 0; transform: translatey(400%); transition: all .7s ease-out; }
.delighter.started li { opacity: 1; transform: none; }
.delighter.started li:nth-child(1) { transition: all .7s ease-out .1s; }
.delighter.started li:nth-child(2) { transition: all .7s ease-out .3s; }
.delighter.started li:nth-child(3) { transition: all .7s ease-out .5s; }
.delighter.started li:nth-child(4) { transition: all .7s ease-out .7s; }
.delighter.started li:nth-child(5) { transition: all .7s ease-out .9s; }
.delighter.started li:nth-child(6) { transition: all .7s ease-out 1.1s; }
.delighter.started li:nth-child(7) { transition: all .7s ease-out 1.3s; }

.delighter pre {
  display: block; transition: all 2s ease-out; opacity: 0;
  padding: 20px 0;
  width: 1px; overflow: hidden;
}
.delighter.started pre {
  max-width: 99999px; width: 100%; opacity: 1;
}
.delighter .box { transition: all 1s ease-out; }
.delighter .box:nth-child(1) { transform: translate(-100%, 0); }
.delighter .box:nth-child(2) { transform: translate(170%, -70%); }
.delighter .box:nth-child(3) { transform: translate(20%, 0%); }

.delighter.started .box:nth-child(1) { transform: translate(0, 0); }
.delighter.started .box:nth-child(2) { transform: translate(70%, -70%); }
.delighter.started .box:nth-child(3) { transform: translate(20%, -120%); }


.map{
	margin-top: 5%;
	width:50%;
	height:80%; 
	float: left;
}

.calculator{
	margin-top: 5%;
	width:50%;
	height:80%; 
	float: left;
}
.funcbox
{
	width:100%;
	height:100%;
	overflow: hidden
	}
.c
			.selectBox{
				width: 400px;
				height: 36px;
				line-height: 36px;
				background: #f72323;
			}
			input::-ms-clear, input::-ms-reveal{
			    display: none;  
			}
			
			.inputCase{
				position: relative;
				width: 100%;
				height: 100%;
				box-sizing: border-box;
			}
			.inputCase input.imitationSelect{
				width: 100%;
				height: 100%;
				box-sizing: border-box;
				border: 1px solid #ccc;
				display: block;
				text-indent: 20px;
				cursor: default;
			}
			.inputCase i.fa{
				position: absolute;
				right: 10px;
				top: 10px;
				color: #007AFF;
				font-size: 20px;
				z-index: 99999;
			}
			.fa{
				cursor: pointer;
			}
			.selectUl{
				display: none;
				padding: 0;
				margin: 0;
				border-bottom: 1px solid #ccc;
				border-left: 1px solid #ccc;
				border-right: 1px solid #ccc;
			}
			.selectUl li{
				height: 36px;
				line-height: 36px;
				list-style: none;
				text-indent: 20px;
				border-bottom: 1px solid #ccc;
			}
			.selectUl li:hover{
				background: #ddd;
			}
			.selectUl li:last-child{
				border-bottom: 0 none;
			}
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);
}to {
    -webkit-transform: rotate(360deg);
}}
#box  img{
position:absolute;
left:0;
top:0;
right:0;
bottom:0;
margin:auto;
  -webkit-transform: rotate(360deg);
    animation: rotation 8s linear infinite;
    -moz-animation: rotation 8s linear infinite;
    -webkit-animation: rotation 8s linear infinite;
    -o-animation: rotation 8s linear infinite;
    }
.blank{
	height:20%
}
.textcontainer{
	height: 45%;
	width: 100%;	
	background-color: rgba(0,0,0,0.5);
}
.textcontainer h1{
	padding-top: 5%;
	padding-left: 42%;
	position: relative;
	color: #FFFFFF;
}
.textcontainer p{
	position: relative;
	color: #FFFFFF;
	font-size: 20px;
	padding-left:24% ;
	padding-right: 20%;
	font-style:italic;
}
.textcontainer2{
	height: 40%;
	width: 100%;
	position: absolute;
}
.choose{
	width: 100%;
	height: 15%;
	
}
.charatercontainer{
	width:100%;
	height:85%;
	overflow: hidden;
	
}

.bear img:hover {
animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
transform: translate3d(0, 0, 0);

}
@keyframes shake {
10%, 90% {
transform: translate3d(-1px, 0, 0);
}
20%, 80% {
transform: translate3d(2px, 0, 0);
}
30%, 50%, 70% {
transform: translate3d(-4px, 0, 0);
}
40%, 60% {
transform: translate3d(4px, 0, 0);
}
}
.bear{
	background: #EBCCCC;
	width: 48.5%;
	height: 100%;
	float: left;
	
}
.bear img{
	margin-left: 25%;
	margin-top: 10%;

}
.koala{
	margin-left: 3%;
	background: #EBCCCC;
	width: 48.5%;
	height: 100%;
	float: left;
	
}
.koala img{
	margin-left: 25%;
	margin-top: 15%;

}
.koala img:hover {
animation: shake 0.82s;
cubic-bezier(.36, .07, .19, .97) both; 
transform: translate3d(0, 0, 0);
}
@keyframes shake {
10%, 90% {
transform: translate3d(-1px, 0, 0);
}
20%, 80% {
transform: translate3d(2px, 0, 0);
}
30%, 50%, 70% {
transform: translate3d(-4px, 0, 0);
}
40%, 60% {
transform: translate3d(4px, 0, 0);
}
}
.blanknav{
	height: 8%;
	
}
.navcontainer{
	width: 100%;
	height: 48%;
	overflow: hidden
	
}

.calculatornav{
	width:50%;
	height: 55%;
	float: left;
}

.calculatornav img:hover {
animation: shake 0.82s;
cubic-bezier(.36, .07, .19, .97) both; 
transform: translate3d(0, 0, 0);
}
@keyframes shake {
10%, 90% {
transform: translate3d(-1px, 0, 0);
}
20%, 80% {
transform: translate3d(2px, 0, 0);
}
30%, 50%, 70% {
transform: translate3d(-4px, 0, 0);
}
40%, 60% {
transform: translate3d(4px, 0, 0);
}
}
.quiznav{
	width:50%;
	height: 100%;
	float: left;
	
}

.quiznav img:hover {
animation: shake 0.82s;
cubic-bezier(.36, .07, .19, .97) both; 
transform: translate3d(0, 0, 0);
}
@keyframes shake {
10%, 90% {
transform: translate3d(-1px, 0, 0);
}
20%, 80% {
transform: translate3d(2px, 0, 0);
}
30%, 50%, 70% {
transform: translate3d(-4px, 0, 0);
}
40%, 60% {
transform: translate3d(4px, 0, 0);
}
}


 .piccontainer{
 	height: 30%;
 	width: 50%;
 	
 }
 .piccontainer img{
 	height: 100%;
 	width: 100%;
 }
.calcontainer {
	width: 100%;
	height: 20%;
}
.funbx{

	width: 30%;
	height: 30%;
	margin-left: 45%;
	
}

   .bar {
          
            fill: #5f89ad;
        }
        
        .axis {
            font-size: 13px;
        }
        
        .axis path,
        .axis line {
            fill: none;
            display: none;
        }
        
        .label {
            font-size: 13px;
        }
.graphic{
	background-color: #FFFFFF;
	
}
/*--- Header Parts Starts Here ---*/
.header{
	background-color: #000000;
	padding:10px 0;
	opacity: 0.7;
}
.logo{
	float:left;
}
.navigation{
	float:right;
	color: #008000;
}
.navigation ul.nav li{
	display: inline-block;
}
.navigation ul.nav li a{
	color:#FFFFFF;
	font-size:18px;
	text-decoration:none;
	
}
.navigation ul.nav li a:hover{
	color:#51b105;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.navigation span.menu{
	display: none;
}
@media (max-width:768px){
	.navigation{
		width:100%;
	}
	.navigation span.menu{
		display: block;
		background:none;
		float:right;
		cursor: pointer;
		margin-top:-35px;
	}
	.navigation ul.nav {
		display: none;
		margin-top:20px;
		width:100%;
		background:#51B105105;
	}
	.navigation ul.nav li{
		display:block;
		text-align:center;
		border-bottom:1px solid #51b105;
	}
}
/*--- Header Parts Ends Here ---*/
.newfooter{
	width:100%;
	height: 8%;
	position: fixed;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	opacity: 0.5;
}
.resultbox{
	width: 100%;
	height: 40%;
	
}
.resultbox img{
	width: 45%;
	height: 50%;
	
	
}
.newfooter p{
	position: relative;
	color: #FFFFFF;
	font-size: 15px;
}